@charset "UTF-8";

*{
	margin:0; padding:0;
}
body{
	width: 500px;
	height: 850px;
    margin: 0 auto;
    position: relative;
}

/* header */
header{
    position: relative;
    margin-top: 30px;
    width: 500px;
    height: 70px;
}
#logoimg{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
}
#logo{
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    left: 65px;
    top: 5px;
}

/* main */
main{
    height: 650px;
    width: 500px;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}

caption{
    color: rgb(192, 194, 255);
    font-size: 13px;
    padding-bottom: 23px;
    padding-top: 23px;
}
#listBtn{
    padding: 1px;
    background-color: rgb(200, 206, 242);
    border-radius:3px;
}
#listBtn:hover{
    background-color: rgb(147, 161, 238);
}
#writeBtn{
    padding: 1px;
    background-color: rgb(200, 206, 242);
    border-radius:3px;
}
#writeBtn:hover{
    background-color: rgb(147, 161, 238);
}
table{
    padding:10px
}


/* footer */
footer{
    font-size: 12px;
    width: 500px;
    height: 130px;
    color: #444444;
    border-top: 100px; 
    font-family: 'Courgette', cursive;
}

footer .contact{
    position: absolute;
    right: 0;
    bottom: 20px;
}

footer .contact p{
    font-size: 12px;
}

/* footer-random */
footer #link1{
    position: absolute;
    left: 0;
    bottom: 20px;
}
footer .links{
    display: inline-block;
    font-size: 12px;
}
footer .links ul{
    list-style-type: none;
}
footer #link1{
    position: absolute;
    left: 0;
}
footer #link2{
    position: absolute;
    left: 178px;
    bottom: 20px;
}

/* copyright */
footer #copyright{
    position: absolute;
    bottom: 0;
    right: 30%;
    color: rgb(161, 161, 161);
    text-align: center;
}

footer #copyright ul{
    list-style-type: none;
}

footer #copyright ul li{
    float: left;
}